body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1.title {
  color: #00bfff;
  margin-top: 20px;
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

input {
  width: 200px;
}

button {
  background-color: #00bfff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #009acd;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 300px;
}

td, th {
  border: 1px solid #555;
  padding: 8px;
  text-align: center;
}

#muscle-image img {
  border: 2px solid #00bfff;
  margin-bottom: 10px;
  border-radius: 5px;
}
