body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.title {
  color: #3399ff;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input {
  width: 200px;
}

button {
  background-color: #3399ff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #007acc;
}

.muscle-image {
  max-width: 300px;
  margin-bottom: 10px;
  border: 2px solid #3399ff;
  border-radius: 5px;
}
